* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #070707;
  --sizeindex: calc(1vw + 1vh);
  --transition: .75 cubic-bezier(.2, .6, 0, 1)
}

body, html {
  background-color: var(--dark);
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  font-size: calc(var(--sizeindex)) * .8;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  transition: var(--transition) !important;
  will-change: transform;
}

.swiper {
  overflow: visible;
  top: 10vh;
}

.swiper-slide {
  max-height: 100vh;
  min-height: 50vh;
  min-width: 450px;
  overflow: hidden;
  position: relative;
  /* height: 700px; */
}

.swiper-slide-selected {
  overflow: hidden;
  position: relative;
  transform: rotate(-15deg) !important;
  z-index: 3;
  scale: 1.5;
  display: flex;
  align-items: center;
}

.slider-img {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  min-height: 600px;
  min-width: 8vw;
  background-size: cover;
  /* background-image: url("../../images/gorod.jpg"); */
  will-change: transform;
}

.slider-img1 {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  min-height: 600px;
  min-width: 450px;
  background-size: cover;
  background-image: url("../../images/koleso.jpg");
  will-change: transform;
}

.slider-img2 {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  min-height: 600px;
  min-width: 450px;
  background-size: cover;
  background-image: url("../../images/train.jpg");
  will-change: transform;
}

.slider-img3 {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  min-height: 600px;
  min-width: 450px;
  background-size: cover;
  background-image: url("../../images/most.jpg");
  will-change: transform;
}

.slider-img4 {
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  min-height: 600px;
  min-width: 450px;
  background-size: cover;
  background-image: url("../../images/zdanie.jpg");
  will-change: transform;
}